@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --background-color: linear-gradient(to bottom, #34495e, #8e44ad);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: var(--background-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#app {
  display: flex;
  align-items: flex-start; /* Alinea al principio del eje vertical (alinea con canvas) */
}

.score-container,
.level-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 1rem;
  font-size: 1rem;
  font-family: 'Press Start 2P';
}

canvas {
  border: 1px solid #d6d6d6; /* Agrega un borde al canvas si lo deseas */
}

.next-piece-canvas-container {
  margin-left: 3rem;
}

.next-piece-canvas-container canvas {
  border: 1px solid #d6d6d6;
  justify-content: space-between;
}

.left-side-panels-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 3rem;
}

.stats-container,
.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  width: 200px;
  border: 1px solid #d6d6d6;
  margin-bottom: 3rem;
  font-family: 'Press Start 2P';
}

.score-renderer-container {
  text-align: right;
  width: 200px;
  background-color: #121212;
  font-family: 'Press Start 2P';
  border: 1px solid #d6d6d6;
  margin-bottom: 3rem;
}

#score {
  margin: 0.5rem;
}

.controls-title,
.stats-title,
.next-piece-title,
.score-title {
  font-family: 'Press Start 2P';
  text-align: center;
  margin-bottom: 1rem;
}

.controls-container__left,
.controls-container__right,
.controls-container__down,
.controls-container__rotate,
.controls-container__pause,
.controls-container__restart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1.2rem;
  width: 80%;
}
